ES_HOST: 'http://localhost:9200'
ES_HTTP_AUTH: 'user:pass'

# Optional secret key
CONVEY_SECRET: ''

# Optional error logging to ES
CONVEY_ERROR_LOGGING_INDEX: ''
CONVEY_ERROR_LOGGING_TYPE: ''

# Optional info logging to ES
CONVEY_INFO_LOGGING_INDEX: ''
CONVEY_INFO_LOGGING_TYPE: ''